In [23]:
import pandas as pd
import numpy as np
import math
import statistics as stats

In [2]:
conversion_rate = pd.read_csv(r"C:\Users\Admin\Documents\Whisky Projekt\public\wq\Data\Datensätze_roh\Kopie-Aufschlüsselung der Conversion-Rate - 2024-08-31 - 2025-08-31.csv")

## Conversion-Rate

In [3]:
conversion_rate.head()

,Monat,sessions,sess_add_cart,sess_co,sess_co_done,cr%,Month (previous_period),Sessions (previous_period),Sessions with cart additions (previous_period),Sessions that reached checkout (previous_period),Sessions that completed checkout (previous_period),Conversion rate (previous_period)
0,01.08.2024,0,0,0,0,NaN,01.08.2023,0,0,0,0,NaN
1,01.09.2024,0,0,0,0,NaN,01.09.2023,0,0,0,0,NaN
2,01.10.2024,222,3,2,0,0.000000,01.10.2023,0,0,0,0,NaN
3,01.11.2024,363,9,6,3,0.008264,01.11.2023,0,0,0,0,NaN
4,01.12.2024,298,11,11,5,0.016779,01.12.2023,0,0,0,0,NaN

In [6]:
conversion_rate.describe()

,sessions,sess_add_cart,sess_co,sess_co_done,cr%,Sessions (previous_period),Sessions with cart additions (previous_period),Sessions that reached checkout (previous_period),Sessions that completed checkout (previous_period),Conversion rate (previous_period)
count,13.000000,13.000000,13.000000,13.000000,11.000000,13.0,13.0,13.0,13.0,0.0
mean,290.230769,7.692308,5.846154,1.846154,0.007768,0.0,0.0,0.0,0.0,NaN
std,234.855684,5.677215,5.030675,1.675617,0.007671,0.0,0.0,0.0,0.0,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,NaN
25%,158.000000,3.000000,1.000000,0.000000,0.002989,0.0,0.0,0.0,0.0,NaN
50%,222.000000,9.000000,6.000000,2.000000,0.005650,0.0,0.0,0.0,0.0,NaN
75%,416.000000,11.000000,8.000000,3.000000,0.009879,0.0,0.0,0.0,0.0,NaN
max,854.000000,17.000000,16.000000,5.000000,0.025316,0.0,0.0,0.0,0.0,NaN

In [ ]:
cr_nan = conversion_rate['sessions'].isna().sum() #nans
print(cr_nan)

0

In [ ]:
cr_null = (conversion_rate['sessions']== 0).sum() #nulls
print(cr_null)

#15,38% Fehlendenrate

2

In [ ]:
cr_null_sess_ac = (conversion_rate['sess_add_cart']== 0).sum() #nulls
print(cr_null_sess_ac)

#15,38% Fehlendenrate

2

In [ ]:
cr_null_sess_co = (conversion_rate['sess_co']== 0).sum() #nulls
print(cr_null_sess_co)

#15,38% Fehlendenrate

2

In [ ]:
cr_null_sess_cod = (conversion_rate['sess_co_done']== 0).sum() #nulls
print(cr_null_sess_cod)

#30,76% Fehlendenrate

4

In [20]:
conversion_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 12 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Monat                                               13 non-null     object
 1   sessions                                            13 non-null     int64
 2   sess_add_cart                                       13 non-null     int64
 3   sess_co                                             13 non-null     int64
 4   sess_co_done                                        13 non-null     int64
 5   cr%                                                 11 non-null     float64
 6   Month (previous_period)                             13 non-null     object
 7   Sessions (previous_period)                          13 non-null     int64
 8   Sessions with cart additions (previous_period)      13 non-null     int64
 9   Sessions that reached checkout (previous_period)    13 non-null     int64
 10  Sessions that completed checkout (previous_period)  13 non-null     int64
 11  Conversion rate (previous_period)                   0 non-null      float64
dtypes: float64(2), int64(8), object(2)
memory usage: 1.3+ KB

## Gesamtumsatz im Zeitverlauf

In [24]:
gu_zeit = pd.read_csv(r"C:\Users\Admin\Documents\Whisky Projekt\public\wq\Data\Datensätze_roh\Gesamtumsatz im Zeitverlauf - 2024-08-31 - 2025-08-31.csv")

In [25]:
gu_zeit.head()

,Monat,Bestellungen,Bruttoumsatz,Rabatte,Rückgaben,Nettoumsatz,Versandgebühren,Zollgebühren,Zusätzliche Gebühren,Steuern,...,Gross sales (previous_period),Discounts (previous_period),Returns (previous_period),Net sales (previous_period),Shipping charges (previous_period),Duties (previous_period),Additional fees (previous_period),Taxes (previous_period),Total sales (previous_period),Customers (previous_period)
0,2024-08-01,0,0.0,0.0,0,0.0,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2024-09-01,0,0.0,0.0,0,0.0,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2024-10-01,0,0.0,0.0,0,0.0,0.00,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2024-11-01,13,825.0,0.0,-1,824.0,46.92,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2024-12-01,5,642.0,0.0,0,642.0,32.96,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
gu_zeit_best = gu_zeit['Bestellungen'].isna().sum() #nans
print(gu_zeit_best)

0

In [ ]:
gu_zeit_best = (gu_zeit['Bestellungen']== 0).sum() #nulls
print(gu_zeit_best)

# 23,07 %

3

In [27]:
gu_zeit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 24 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Monat                               13 non-null     object
 1   Bestellungen                        13 non-null     int64
 2   Bruttoumsatz                        13 non-null     float64
 3   Rabatte                             13 non-null     float64
 4   Rückgaben                           13 non-null     int64
 5   Nettoumsatz                         13 non-null     float64
 6   Versandgebühren                     13 non-null     float64
 7   Zollgebühren                        13 non-null     int64
 8   Zusätzliche Gebühren                13 non-null     int64
 9   Steuern                             13 non-null     int64
 10  Gesamtumsatz                        13 non-null     float64
 11  Kunden                              13 non-null     int64
 12  Month (previous_period)             13 non-null     object
 13  Orders (previous_period)            13 non-null     int64
 14  Gross sales (previous_period)       13 non-null     int64
 15  Discounts (previous_period)         13 non-null     int64
 16  Returns (previous_period)           13 non-null     int64
 17  Net sales (previous_period)         13 non-null     int64
 18  Shipping charges (previous_period)  13 non-null     int64
 19  Duties (previous_period)            13 non-null     int64
 20  Additional fees (previous_period)   13 non-null     int64
 21  Taxes (previous_period)             13 non-null     int64
 22  Total sales (previous_period)       13 non-null     int64
 23  Customers (previous_period)         13 non-null     int64
dtypes: float64(5), int64(17), object(2)
memory usage: 2.6+ KB

In [37]:
gu_zeit_brutto = gu_zeit['Bruttoumsatz'].isna().sum() #nans
print(gu_zeit_brutto)

0

In [ ]:
gu_zeit_brutto = (gu_zeit['Bruttoumsatz']== 0.0).sum() #nulls
print(gu_zeit_brutto)


# 23,08 %

3

In [ ]:
# rabatte 13/13 0.0 -> 100%

In [ ]:
gu_zeit_rueck = (gu_zeit['Rückgaben']== 0.0).sum() #nulls
print(gu_zeit_rueck)

# 92,3%

12

In [ ]:
gu_zeit_netto = (gu_zeit['Nettoumsatz']== 0.0).sum() #nulls
print(gu_zeit_netto)

# 23,08 %

3

In [ ]:
gu_zeit_vers = (gu_zeit['Versandgebühren']== 0.0).sum() #nulls
print(gu_zeit_vers)

# 23,08 %

3

In [35]:
# zoll 13/13 0.0 -> 100%

## sitzungsverf

In [38]:
sitzungsv = pd.read_csv(r"C:\Users\Admin\Documents\Whisky Projekt\public\wq\Data\Datensätze_roh\Sitzungsverfolgung - Referrer nach Zeit, Sitzungsdauer und Aktionen - 2024-08-31 - 2025-08-31.csv")

In [39]:
sitzungsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2210 entries, 0 to 2209
Data columns (total 12 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Sitzungsland                                                  2210 non-null   object
 1   Sitzungsort                                                   2141 non-null   object
 2   Monat                                                         2210 non-null   object
 3   Empfehlungsplattform                                          2210 non-null   object
 4   Landing-Page-URL                                              2210 non-null   object
 5   Durchschnittliche Sitzungsdauer                               2210 non-null   float64
 6   Seitenaufrufe pro Sitzung                                     2210 non-null   float64
 7   Absprünge                                                     2210 non-null   int64
 8   Sitzungen, in denen Artikel zum Warenkorb hinzugefügt wurden  2210 non-null   int64
 9   Sitzungen, bei denen der Checkout erreicht wurde              2210 non-null   int64
 10  Sitzungen, bei denen der Checkout abgeschlossen wurde         2210 non-null   int64
 11  Sitzungen                                                     2210 non-null   int64
dtypes: float64(2), int64(5), object(5)
memory usage: 207.3+ KB

In [40]:
sitzungsv.head()

,Sitzungsland,Sitzungsort,Monat,Empfehlungsplattform,Landing-Page-URL,Durchschnittliche Sitzungsdauer,Seitenaufrufe pro Sitzung,Absprünge,"Sitzungen, in denen Artikel zum Warenkorb hinzugefügt wurden","Sitzungen, bei denen der Checkout erreicht wurde","Sitzungen, bei denen der Checkout abgeschlossen wurde",Sitzungen
0,Germany,Nuremberg,2024-10-01,direct,https://www.whiskyquartier.de/pages/datenschutz,368.000000,5.000000,0,0,0,0,1
1,Germany,Munich,2024-10-01,direct,https://www.whiskyquartier.de/products/kavalan...,237.000000,7.000000,0,1,1,0,1
2,United Kingdom,London,2024-10-01,direct,https://www.whiskyquartier.de/password,0.000000,1.000000,1,0,0,0,1
3,Germany,Hausach,2024-10-01,direct,https://7bb991-55.myshopify.com/,0.000000,1.000000,1,0,0,0,1
4,Germany,Burgthann,2024-10-01,direct,https://7bb991-55.myshopify.com/,327.555556,1.888889,7,0,0,0,9