In [7]:
from dash import Dash, html, dash_table, dcc, callback, Output, Input, register_page
import plotly.express as px
import pandas as pd
import dash_ag_grid as dag
from wtf.dd import DD
ads_sales = pd.read_csv("Dta/output/sorted_all_ads.csv")
sales = pd.read_csv("Dta/exporte/total_sales_month.csv")
sales

    id       Datum  Nettoumsatz
0    0  2024-08-01         0.00
1    1  2024-09-01         0.00
2    2  2024-10-01         0.00
3    3  2024-11-01       824.00
4    4  2024-12-01       642.00
5    5  2025-01-01       262.50
6    6  2025-02-01      1318.00
7    7  2025-03-01      1271.00
8    8  2025-04-01       555.01
9    9  2025-05-01       169.50
10  10  2025-06-01       335.00
11  11  2025-07-01       541.40
12  12  2025-08-01       736.27

In [ ]:
import plotly.graph_objects as go
import pandas as pd

df = sales
fig = go.Figure()
fig.add_trace(go.Scatter(
    name="Raw Data",
    mode="markers+lines", x=df["Datum"], y=df["Nettoumsatz"],
    marker_symbol="star"
))

KeyError: 'date'