# <img src="../../Dashboards/python/assets/whisk_rox.png"> „Data on the rocks“
## Datenbereinigungspipelineentstehungshistorie
seit <time datetime="2025-10-06">6. Oktober 2025</time>
- Zeitreihen
- Aufüllen mit 0 (```Klicks```) 0.0 (andere)

In [27]:
# Importe

import pandas as pd

df_all = pd.read_csv("../../Data/Sanitized/all_days_both.csv")
df_werbung = pd.read_csv("../../Data/Sanitized/sorted_agg.csv")
df_all['Datum'] = pd.to_datetime(df_all['Datum'], format='%Y-%m-%d')
df_werbung['Datum'] = pd.to_datetime(df_werbung['Datum'], format='%Y-%m-%d')
# df['Datum'] = pd.to_datetime(df['Datum'], format='%Y-%m-%d')
# df_all.set_index('Datum')
# df_werbung.set_index('Datum')
#df_all[['Datum', 'Impressionen', 'Klicks', 'Kosten', 'CPC_Manuell', 'CRT_Manuell', 'Provider']] = df_werbung[
#    ['Datum', 'Impressionen', 'Klicks', 'Kosten', 'CPC_Manuell', 'CRT_Manuell', 'Provider']
#                                                                                                             ].where(df_all['Datum']==df_werbung['Datum'] and df_all['Provider']==df_werbung ['Provider'])
# df_all.update(df_werbung)
# df_all


#df_all.to_csv("../../Data/Sanitized/all_days_both_merged.csv")

In [22]:
df_all.dtypes

Datum           datetime64[ns]
Impressionen           float64
Klicks                   int64
Kosten                 float64
CPC_Manuell            float64
CRT_Manuell            float64
Provider                object
dtype: object

In [23]:
df_werbung.dtypes

Datum           datetime64[ns]
Impressionen           float64
Klicks                   int64
Kosten                 float64
CPC_Manuell            float64
CRT_Manuell            float64
Provider                object
dtype: object

In [30]:
df_all.update(df_werbung)
df_all.to_csv("../../Data/Sanitized/ads_ohne_luecken.csv", index=False)
df_all

,Datum,Impressionen,Klicks,Kosten,CPC_Manuell,CRT_Manuell,Provider
0,2024-11-22,305.0,9,5.00,0.5556,0.0295,Alpha
1,2024-11-22,480.0,23,2.00,0.0870,0.0479,Meta
2,2024-11-23,663.0,42,4.61,0.1098,0.0633,Meta
3,2024-11-23,867.0,9,3.99,0.4433,0.0104,Alpha
4,2024-11-24,823.0,71,4.98,0.0701,0.0863,Meta
...,...,...,...,...,...,...,...
547,2025-08-22,0.0,0,0.00,0.0000,0.0000,Meta
548,2025-08-23,0.0,0,0.00,0.0000,0.0000,Alpha
549,2025-08-23,0.0,0,0.00,0.0000,0.0000,Meta
550,2025-08-24,0.0,0,0.00,0.0000,0.0000,Alpha
551,2025-08-24,0.0,0,0.00,0.0000,0.0000,Meta

### Shell Kommandos
```sh
cat all_days_alpha.csv all_days_meta.csv | sort > all_days_both.csv
```