In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import random
import secrets

df = pd.read_csv('output/umsatz.csv')
df['clients'] = round(df['sessions']/1000, 0)
df['orders'] = round(df['clients'] - np.random.randint(0, 5), 0)
df["gross_turns"]= round(df['orders'] * np.random.randint(4, 500), 2)
df["discounts"]= 0
df["returns"]= 0
df["net_turns_perc"]= round(np.random.randint(0, 5)/100, 2)
df["shippings"]= round(df['net_turns_perc'] * df['gross_turns'], 2)
df["duties"]= 0
df["add_rates"]= 0
df["taxes"]= 0
df["total_turn"]= 0
df["clients"]= 0        
df.to_csv('output/umsatz_neu.csv', index=False)
df

,year,month,sessions,clients,orders,gross_turns,discounts,returns,net_turns_perc,shippings,duties,add_rates,taxes,total_turn
0,2024,8,311580,0,309.0,123291.0,0,0,0.02,2465.82,0,0,0,0
1,2024,9,312754,0,310.0,123690.0,0,0,0.02,2473.80,0,0,0,0
2,2024,10,319082,0,316.0,126084.0,0,0,0.02,2521.68,0,0,0,0
3,2024,11,315841,0,313.0,124887.0,0,0,0.02,2497.74,0,0,0,0
4,2024,12,332542,0,330.0,131670.0,0,0,0.02,2633.40,0,0,0,0
5,2025,1,318078,0,315.0,125685.0,0,0,0.02,2513.70,0,0,0,0
6,2025,2,284265,0,281.0,112119.0,0,0,0.02,2242.38,0,0,0,0
7,2025,3,310941,0,308.0,122892.0,0,0,0.02,2457.84,0,0,0,0
8,2025,4,304808,0,302.0,120498.0,0,0,0.02,2409.96,0,0,0,0
9,2025,5,318927,0,316.0,126084.0,0,0,0.02,2521.68,0,0,0,0
10,2025,6,301088,0,298.0,118902.0,0,0,0.02,2378.04,0,0,0,0
11,2025,7,324248,0,321.0,128079.0,0,0,0.02,2561.58,0,0,0,0
12,2025,8,312725,0,310.0,123690.0,0,0,0.02,2473.80,0,0,0,0
13,2025,9,243290,0,240.0,95760.0,0,0,0.02,1915.20,0,0,0,0